{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block head_title %}Youtan Auctions - {% block title %}Novo Veículo{% endblock title %}{% endblock head_title %}

{% block content%}

    <div class="card p-3">
        <div class="card-header">
            <h3 class="card-title">Cadastrar Veículo</h3>

        </div>
        <div class="card-body" id="create_vehicle_div">
            <form name="form_create_vehicle" method="post" id="form_create_vehicle" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'forms/default_form.html' %}
            </form>
            <button id="btn-teste">Teste</button>
        </div>
    </div>

{% endblock content%}


{% block footer_javascript %}
    <script src="{% static  'js/auctions/create_vehicle.js' %}"></script>
{% endblock footer_javascript%}
