{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block head_title %}Youtan Auctions - {% block title %}Instituições Financeiras{% endblock title %}{% endblock head_title %}

{% block content%}

    <div class="card p-3">
        <div class="card-header">
            <h3 class="card-title">Instituições Financeiras</h3>
        </div>
        <div class="card-body d-flex" id="card_banks_list">
            
        </div>
    </div>

{% endblock content%}


{% block footer_javascript %}
    <script>
        var isAdmin = "{{ request.user.is_staff }}" == "True" ? true : false;
    </script>
    <script src="{% static  'js/auctions/list_banks.js' %}"></script>
{% endblock footer_javascript%}