{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block head_title %}Youtan Auctions - {% block title %}Alterar Senha{% endblock title %}{% endblock head_title %}

{% block content%}

    <div class="card p-3">
        <div class="card-header">
            <h3 class="card-title">Alterar Senha</h3>
        </div>
        <div class="card-body" id="change_password_div">
            <form name="form_change_password" method="post" id="form_change_password">
                {% csrf_token %}
                {% include 'forms/default_form.html' %}
            </form>
        </div>
    </div>

{% endblock content%}


{% block footer_javascript %}
    <script>
        var userId = "{{ request.user.id }}";
    </script>
    <script src="{% static  'js/users/change_password.js' %}"></script>
{% endblock footer_javascript%}
