{% extends "base.html" %}
{% load bootstrap %}

{% block head_title %}Youtan Auctions - {% block title %}Alterar Senha{% endblock title %}{% endblock head_title %}

{% block content %}

  <div class="card card-flush p-5 card-change-password">
    <div class="card-header min-h-auto mb-3">
        <h1>Usuário: {{ user.username }}</h1>
    </div>
    <div class="card-body pt-0">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
        <button class="btn btn-primary" type="submit">Salvar</button>
      </form>
    </div>
  </div>
{% endblock %}
